# Environment Variables
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# Data
data/rag_store/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
